@font-face {
  font-family: 'icomoon';
  src:  url('icon-fonts/icomoon.eot?8rgji1');
  src:  url('icon-fonts/icomoon.eot?8rgji1#iefix') format('embedded-opentype'),
    url('icon-fonts/icomoon.ttf?8rgji1') format('truetype'),
    url('icon-fonts/icomoon.woff?8rgji1') format('woff'),
    url('icon-fonts/icomoon.svg?8rgji1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change icon-fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e91d";
}
.icon-add:before {
  content: "\e900";
}
.icon-add-rounded:before {
  content: "\e901";
}
.icon-bars:before {
  content: "\e902";
}
.icon-blog:before {
  content: "\e903";
}
.icon-categories:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-comics:before {
  content: "\e906";
}
.icon-credit-card:before {
  content: "\e907";
}
.icon-dashboard:before {
  content: "\e908";
}
.icon-delivery-truck:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-filter:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-left-arrow:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e912";
}
.icon-option:before {
  content: "\e913";
}
.icon-padlock:before {
  content: "\e914";
}
.icon-right-arrow:before {
  content: "\e915";
}
.icon-shopping-cart:before {
  content: "\e916";
}
.icon-stay-at-home:before {
  content: "\e917";
}
.icon-trash:before {
  content: "\e918";
}
.icon-trash-open:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-users:before {
  content: "\e91b";
}
.icon-whatsapp:before {
  content: "\e91c";
}
