@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$black-gray: #505050;
$white: #FFFFFF;
$brown: #A58E7F;
$brown-dark: #6C584C;
$blue: #4A6AFF;
$blue-dark: #1066BC;
$yellow: #FED049;
$bg-main: #F8F7F3;

$filter-width: 280px;

* {
    font-family: 'Montserrat', sans-serif;
    color: $black-gray;
}

#logo, .logo {
    background: url('../img/logo/logo_white.png') no-repeat;
    width: 90px;
    height: 50px;
    font-size: 0;
    display: block;
    //background-height: ;
}

// TODO Classes

.bold {
    font-weight: bold;
}

.icon-only {
    font-size: 0;

    span {
        font-size: 1rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// TODO Header

.menu-sh-btn {
    display: block;

    &:hover {
        color: $white;
    }

    span {
        font-size: 1.4rem;
        color: $white;
    }
}

header {
    background: $black-gray;

    &, a {
        color: $white;
    }


    // Header / Top
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 1rem;

        .button {
            background: none;
            color: $white;
            transition: 300ms;

            &:hover {
                background: $white;
                color: $blue-dark;
            }
        }

        > div {
            display: flex;
            align-items: center;

            > a {
                display: block;
                margin-right: .8rem;
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $black-gray;
        padding: 1.2rem 1rem;
        z-index: 2;
        transform: translateX(-110%);
        transition: all .6s ease-in-out;

        &.active {
            transform: translateX(0);
        }

        > .menu-sh-btn {
            position: fixed;
            right: 1rem;
            top: 1.8rem;
        }

        ul {
            margin-top: 1.5rem;

            li {
                a {
                    display: block;
                    padding: .6rem 1rem;
                    font-size: 1.1rem;
                    font-weight: bold;

                    &.active {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

// TODO Footer

footer {
    background-color: $white;
    padding: 1.6em 0 1rem 0;

    > div {
        padding: 0 1rem;

        &:first-of-type {
            margin: auto;
            border-bottom: 0.01rem solid rgba($black-gray, .2);
        }

        &:last-of-type {
            p {
                font-size: .8rem;
                color: rgba($black-gray, .6);
            }
        }

    }

    ul.images {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: .3rem;

            img {
                max-width: 48px;
            }

        }

    }

    .contacto {
        li {
            margin-bottom: 1rem;
        }
    }


    .social-networks {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0 1rem;

            &:first-of-type {
                margin-left: 0;
            }
        }

        a {
            font-size: 0;
            display: block;
            padding: .8rem;
            background: $blue-dark;
            transition: 300ms;
            border-radius: 100%;

            &:hover {
                background: $blue;
            }

            span {
                color: $white;
                font-size: 1.8rem;
            }
        }
    }
}

// TODO Main and Section default
main {
    background: $bg-main;

    section {
        padding: 1rem;
    }
}

// TODO Home / Banner

#banner {
    > div {
        overflow: hidden;
        border-radius: 15px;
        line-height: 0;
    }
}

// TODO Home / Popular products

#popular-products {
    ul {
        margin: auto;
    }
}

// TODO Home / Pills

#pills {
    padding: 4rem 1rem;
    background: $blue-dark;
    color: $white;
    text-align: center;

    li {
        p {
            margin-bottom: 1rem;
        }

        p[class^="icon"] {
            padding: .8rem;
            border: 4px solid $white;
            display: inline-block;
            border-radius: 100%;

            span {
                font-size: 4rem;
                color: $white;
            }
        }

        p:nth-child(2) {
            color: $white;
            font-size: 1.25rem;
            font-weight: bold;
        }

        p:last-of-type {
            color: rgba($white, .8);
            line-height: 1.8rem;
        }
    }
}

// TODO General / Comic / List

ul.comic-list {
    display: flex;

    li {
        margin-right: 1rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

// TODO General / Comic / Article

article.comic-item {
    background: $white;
    padding: 1rem;
    border-radius: 10px;
    border: 0.01rem solid rgba($brown, .4);


    .img-container {
        margin-bottom: .8rem;


        img {
            max-height: 280px;
            border-radius: 10px;
        }
    }

    // Brand and Title

    > div:nth-child(2) {
        margin-bottom: 1rem;

        p {
            &:first-of-type {
                font-size: 0.875rem;
                color: rgba($black-gray, .6);
                margin-bottom: .5rem;
            }

            &:last-of-type {
                font-weight: bold;
                height: 3.2rem;
                min-height: 3.2rem;
                width: 220px;
                overflow: hidden;

                &:hover {
                    overflow: visible;
                    height: auto;
                }
            }
        }
    }

    // Price and buy button

    > div:last-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: bold;
            color: $brown-dark;
        }

        button {
            color: $blue-dark;
            background: none;
            border: 0.01rem solid $blue-dark;
            margin-left: .4rem;

            span {
                color: $blue-dark;
                margin-left: .5rem;
            }

            &:active, &:hover {
                background: $blue-dark;
                color: $white;

                span {
                    color: $white;
                }
            }
        }
    }
}

// TODO Comics / Filters

#filters {
    .modal-content {
        background: $white;
        padding: 1rem;
        text-align: center;
        border-radius: 10px;

        p:last-of-type {
            color: rgba($black-gray, .6);
        }
    }
}

// TODO Comics / List

#comics-list {

    header {
        background: none;
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;

        button {
            span {
                margin-left: .5rem;
            }
        }
    }

    ul.comic-list {
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            margin: 0 .2rem 1rem .2rem;

            &:first-of-type {
                margin-left: 0;
            }

            article {
                padding: .5rem;

                .img-container {
                    margin-bottom: .8rem;

                    img {
                        max-height: none;
                        max-width: 120px;
                    }
                }

                // Brand and Title

                > div:nth-child(2) {
                    margin-bottom: 1rem;

                    p {
                        &:last-of-type {
                            width: 120px;
                        }
                    }
                }

                // Price and buy button

                > div:last-of-type {
                    flex-direction: column;

                    p {
                        margin-bottom: .5rem;
                    }

                    button {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}


// TODO Media screen 560px

@media screen and (min-width: 560px) {
    // TODO Header

    header {
        > div {
            padding: .8rem 2rem;
        }

        .menu-sh-btn {
            display: none;
        }

        nav {
            position: static;
            height: auto;
            transform: translateX(0);
            padding: .5rem 2rem 1rem 2rem;

            .logo {
                display: none;
            }

            ul {
                display: flex;
                margin: 0;

                li {
                    margin-right: 1rem;

                    &:last-of-type {
                        margin-right: 0;

                    }

                    a {
                        padding: .2rem;
                        font-weight: 400;
                        transition: 300ms;

                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }

}

// TODO Media screen 768px

@media screen and (min-width: 768px) {
    // TODO Comic / List

    #main-comic-list {
        display: flex;
    }

    // TODO Comics / Filters

    #filters {
        position: static;
        display: block;
        background: $white;
        min-width: $filter-width;
        max-width: $filter-width;
        padding-top: 2rem;

        border-right: 1px solid rgba($brown-dark, .5);

        .filter-sh-btn {
            display: none;
        }

        .modal-content {
            text-align: left;
            width: 100%;
            padding: 0;
        }
    }

    // TODO Comics / List

    #comics-list {
        width: calc(100% - 280px);

        header {
            .filter-sh-btn {
                display: none;
            }
        }
    }
}

// TODO Media screen 1366px

@media screen and (min-width: 1366px) {
    // TODO Home / Popular products

    #popular-products {
        ul {
            justify-content: center;
        }
    }

    // TODO Comics / List

    #comics-list {
        ul.comic-list {
            justify-content: space-around;
        }
    }
}
