@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: #505050;
}

#logo, .logo {
  background: url("../img/logo/logo_white.png") no-repeat;
  width: 90px;
  height: 50px;
  font-size: 0;
  display: block;
}

.bold {
  font-weight: bold;
}

.icon-only {
  font-size: 0;
}
.icon-only span {
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-sh-btn {
  display: block;
}
.menu-sh-btn:hover {
  color: #FFFFFF;
}
.menu-sh-btn span {
  font-size: 1.4rem;
  color: #FFFFFF;
}

header {
  background: #505050;
}
header, header a {
  color: #FFFFFF;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}
header > div .button {
  background: none;
  color: #FFFFFF;
  transition: 300ms;
}
header > div .button:hover {
  background: #FFFFFF;
  color: #1066BC;
}
header > div > div {
  display: flex;
  align-items: center;
}
header > div > div > a {
  display: block;
  margin-right: 0.8rem;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #505050;
  padding: 1.2rem 1rem;
  z-index: 2;
  transform: translateX(-110%);
  transition: all 0.6s ease-in-out;
}
header nav.active {
  transform: translateX(0);
}
header nav > .menu-sh-btn {
  position: fixed;
  right: 1rem;
  top: 1.8rem;
}
header nav ul {
  margin-top: 1.5rem;
}
header nav ul li a {
  display: block;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
header nav ul li a.active {
  color: #FED049;
}

footer {
  background-color: #FFFFFF;
  padding: 1.6em 0 1rem 0;
}
footer > div {
  padding: 0 1rem;
}
footer > div:first-of-type {
  margin: auto;
  border-bottom: 0.01rem solid rgba(80, 80, 80, 0.2);
}
footer > div:last-of-type p {
  font-size: 0.8rem;
  color: rgba(80, 80, 80, 0.6);
}
footer ul.images {
  display: flex;
  flex-wrap: wrap;
}
footer ul.images li {
  margin: 0.3rem;
}
footer ul.images li img {
  max-width: 48px;
}
footer .contacto li {
  margin-bottom: 1rem;
}
footer .social-networks {
  display: flex;
  flex-wrap: wrap;
}
footer .social-networks li {
  margin: 0 1rem;
}
footer .social-networks li:first-of-type {
  margin-left: 0;
}
footer .social-networks a {
  font-size: 0;
  display: block;
  padding: 0.8rem;
  background: #1066BC;
  transition: 300ms;
  border-radius: 100%;
}
footer .social-networks a:hover {
  background: #4A6AFF;
}
footer .social-networks a span {
  color: #FFFFFF;
  font-size: 1.8rem;
}

main {
  background: #F8F7F3;
}
main section {
  padding: 1rem;
}

#banner > div {
  overflow: hidden;
  border-radius: 15px;
  line-height: 0;
}

#popular-products ul {
  margin: auto;
}

#pills {
  padding: 4rem 1rem;
  background: #1066BC;
  color: #FFFFFF;
  text-align: center;
}
#pills li p {
  margin-bottom: 1rem;
}
#pills li p[class^=icon] {
  padding: 0.8rem;
  border: 4px solid #FFFFFF;
  display: inline-block;
  border-radius: 100%;
}
#pills li p[class^=icon] span {
  font-size: 4rem;
  color: #FFFFFF;
}
#pills li p:nth-child(2) {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
}
#pills li p:last-of-type {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8rem;
}

ul.comic-list {
  display: flex;
}
ul.comic-list li {
  margin-right: 1rem;
}
ul.comic-list li:last-of-type {
  margin-right: 0;
}

article.comic-item {
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
  border: 0.01rem solid rgba(165, 142, 127, 0.4);
}
article.comic-item .img-container {
  margin-bottom: 0.8rem;
}
article.comic-item .img-container img {
  max-height: 280px;
  border-radius: 10px;
}
article.comic-item > div:nth-child(2) {
  margin-bottom: 1rem;
}
article.comic-item > div:nth-child(2) p:first-of-type {
  font-size: 0.875rem;
  color: rgba(80, 80, 80, 0.6);
  margin-bottom: 0.5rem;
}
article.comic-item > div:nth-child(2) p:last-of-type {
  font-weight: bold;
  height: 3.2rem;
  min-height: 3.2rem;
  width: 220px;
  overflow: hidden;
}
article.comic-item > div:nth-child(2) p:last-of-type:hover {
  overflow: visible;
  height: auto;
}
article.comic-item > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.comic-item > div:last-of-type p {
  font-weight: bold;
  color: #6C584C;
}
article.comic-item > div:last-of-type button {
  color: #1066BC;
  background: none;
  border: 0.01rem solid #1066BC;
  margin-left: 0.4rem;
}
article.comic-item > div:last-of-type button span {
  color: #1066BC;
  margin-left: 0.5rem;
}
article.comic-item > div:last-of-type button:active, article.comic-item > div:last-of-type button:hover {
  background: #1066BC;
  color: #FFFFFF;
}
article.comic-item > div:last-of-type button:active span, article.comic-item > div:last-of-type button:hover span {
  color: #FFFFFF;
}

#filters .modal-content {
  background: #FFFFFF;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
#filters .modal-content p:last-of-type {
  color: rgba(80, 80, 80, 0.6);
}

#comics-list header {
  background: none;
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}
#comics-list header button span {
  margin-left: 0.5rem;
}
#comics-list ul.comic-list {
  flex-wrap: wrap;
  justify-content: space-between;
}
#comics-list ul.comic-list li {
  margin: 0 0.2rem 1rem 0.2rem;
}
#comics-list ul.comic-list li:first-of-type {
  margin-left: 0;
}
#comics-list ul.comic-list li article {
  padding: 0.5rem;
}
#comics-list ul.comic-list li article .img-container {
  margin-bottom: 0.8rem;
}
#comics-list ul.comic-list li article .img-container img {
  max-height: none;
  max-width: 120px;
}
#comics-list ul.comic-list li article > div:nth-child(2) {
  margin-bottom: 1rem;
}
#comics-list ul.comic-list li article > div:nth-child(2) p:last-of-type {
  width: 120px;
}
#comics-list ul.comic-list li article > div:last-of-type {
  flex-direction: column;
}
#comics-list ul.comic-list li article > div:last-of-type p {
  margin-bottom: 0.5rem;
}
#comics-list ul.comic-list li article > div:last-of-type button {
  width: 100%;
  margin: 0;
}

#main-comic-details {
  padding-bottom: 1rem;
}

#comic-info {
  padding: 1rem 1rem 1.5rem;
}
#comic-info .breadcrumb {
  white-space: normal;
}
#comic-info .breadcrumb li.is-active a {
  color: #505050;
}
#comic-info .breadcrumb a {
  font-size: 0.875rem;
  color: #4A6AFF;
}
#comic-info > div:nth-child(2) {
  max-width: 336px;
  margin: auto auto 2rem;
}
#comic-info > div:nth-child(2) img {
  border-radius: 10px;
}
#comic-info > div:nth-child(3) h1 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}
#comic-info > div:nth-child(3) h1 + p {
  text-align: center;
  color: rgba(80, 80, 80, 0.6);
  margin-bottom: 1.25rem;
}
#comic-info > div:nth-child(3) ul {
  border: 1px solid #A58E7F;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 2rem;
}
#comic-info > div:nth-child(3) ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #A58E7F;
}
#comic-info > div:nth-child(3) ul li:last-of-type {
  border-bottom: none;
}
#comic-info > div:nth-child(3) ul li .genres-tag {
  background: #4A6AFF;
  color: #FFFFFF;
  padding: 0.4rem;
  border-radius: 5px;
  display: inline-block;
  margin: 0.2rem;
  font-size: 0.9rem;
}
#comic-info > div:nth-child(3) > div:last-of-type {
  width: 100%;
  max-width: 352px;
  margin: auto;
}
#comic-info > div:nth-child(3) > div:last-of-type .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
#comic-info > div:nth-child(3) > div:last-of-type .price .price-only {
  text-align: center;
  width: 100%;
}
#comic-info > div:nth-child(3) > div:last-of-type .price > div p:first-of-type {
  text-decoration: line-through;
  color: rgba(108, 88, 76, 0.6);
  margin-bottom: 0.5rem;
}
#comic-info > div:nth-child(3) > div:last-of-type .price > div p.ComicPrice {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6C584C;
  text-decoration: none;
  margin-bottom: 0;
}
#comic-info > div:nth-child(3) > div:last-of-type .price > div + p {
  padding: 0.5rem;
  border: 1px solid #4A6AFF;
  color: #4A6AFF;
  font-size: 1.1rem;
  border-radius: 5px;
}
#comic-info > div:nth-child(3) > div:last-of-type button {
  width: 100%;
  max-width: 352px;
  background: #1066BC;
  color: #FFFFFF;
  border: none;
  transition: 300ms;
  display: block;
  margin: auto;
}
#comic-info > div:nth-child(3) > div:last-of-type button:hover {
  background: #4A6AFF;
}

#comic-tabs {
  padding: 0;
}
#comic-tabs > div {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
#comic-tabs .container-tabs-btn {
  border-bottom: 1px solid #505050;
}
#comic-tabs .container-tabs-btn li.is-active a {
  background: #505050;
  color: #FFFFFF;
}
#comic-tabs .container-tabs-btn li a {
  font-weight: bold;
  color: rgba(80, 80, 80, 0.6);
  border: none;
}
#comic-tabs .section {
  border-top: 8px solid #505050;
}
#comic-tabs .section br {
  margin-bottom: 1rem;
}
#comic-tabs .section #characters ul {
  display: flex;
  flex-wrap: wrap;
}
#comic-tabs .section #characters ul li {
  margin: 0.3rem;
}
#comic-tabs .section #characters ul li > div {
  max-width: 80px;
  max-height: 80px;
}
#comic-tabs .section #characters ul li > div img {
  border-radius: 10px;
}

@media screen and (min-width: 560px) {
  header > div {
    padding: 0.8rem 2rem;
  }
  header .menu-sh-btn {
    display: none;
  }
  header nav {
    position: static;
    height: auto;
    transform: translateX(0);
    padding: 0.5rem 2rem 1rem 2rem;
  }
  header nav .logo {
    display: none;
  }
  header nav ul {
    display: flex;
    margin: 0;
  }
  header nav ul li {
    margin-right: 1rem;
  }
  header nav ul li:last-of-type {
    margin-right: 0;
  }
  header nav ul li a {
    padding: 0.2rem;
    font-weight: 400;
    transition: 300ms;
  }
  header nav ul li a:hover {
    color: #FED049;
  }
}
@media screen and (min-width: 768px) {
  #main-comic-list {
    display: flex;
  }

  #filters {
    position: static;
    display: block;
    background: #FFFFFF;
    min-width: 280px;
    max-width: 280px;
    padding-top: 2rem;
    border-right: 1px solid rgba(108, 88, 76, 0.5);
  }
  #filters .filter-sh-btn {
    display: none;
  }
  #filters .modal-content {
    text-align: left;
    width: 100%;
    padding: 0;
  }

  #comics-list {
    width: calc(100% - 280px);
  }
  #comics-list header .filter-sh-btn {
    display: none;
  }

  #comic-info {
    display: flex;
    flex-wrap: wrap;
  }
  #comic-info .breadcrumb {
    width: 100%;
  }
  #comic-info > div:nth-child(2) {
    line-height: 0;
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  #comic-info > div:nth-child(3) {
    max-width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #comic-info > div:nth-child(3) ul {
    background: none;
    border: none;
  }
  #comic-info > div:nth-child(3) ul li {
    border-bottom: none;
  }
  #comic-info > div:nth-child(3) ul li .is-block {
    display: inline;
  }
  #comic-info > div:nth-child(3) > div h1, #comic-info > div:nth-child(3) > div h1 + p {
    text-align: left;
  }
  #comic-info > div:nth-child(3) > div:last-of-type {
    margin-bottom: 0;
  }
  #comic-info > div:nth-child(3) > div:last-of-type button {
    margin: 0;
  }

  #comic-tabs {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #comic-info {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1366px) {
  #popular-products ul {
    justify-content: center;
  }

  #comics-list ul.comic-list {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=website.css.map */
